<head>
  {{ $style := resources.Get "scss/main.scss" | resources.ToCSS |
  resources.Minify | resources.Fingerprint }}

  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <!-- Set Title -->
  {{ $title := .Site.Title}} {{ if not .IsHome }} {{ $title = printf `%s | %s`
  .Title .Site.Title }} {{ end }}

  <!-- Set Description -->
  {{ $metaDesc := or .Description .Summary }}

  <!-- SEO -->
  <!-- Primary Meta Tags -->
  <title>{{ $title }}</title>
  <meta name="title" content="{{ $title }}" />
  <meta name="description" content="{{ $metaDesc }}" />

  <!-- Open Graph / Facebook -->
  <meta property="og:type" content="website" />
  <meta property="og:url" content="{{ .Permalink }}" />
  <meta property="og:title" content="{{ $title }}" />
  <meta name="og:description" content="{{ $metaDesc }}" />
  <!--
	<meta
	  property="og:image"
	  content="https://metatags.io/assets/meta-tags-16a33a6a8531e519cc0936fbba0ad904e52d35f34a46c97a2c9f6f7dd7d336f2.png"
	/>
	-->

  <!-- Twitter -->
  <!--
	<meta property="twitter:card" content="summary_large_image" />
	-->
  <meta property="twitter:url" content="{{ .Permalink }}" />
  <meta property="twitter:title" content="{{ $title }}" />
  <meta name="twitter:description" content="{{ $metaDesc }}" />
  <!--
	<meta
	  property="twitter:image"
	  content="https://metatags.io/assets/meta-tags-16a33a6a8531e519cc0936fbba0ad904e52d35f34a46c97a2c9f6f7dd7d336f2.png"
	/>
	-->

  <link
    rel="stylesheet"
    href="{{ $style.RelPermalink }}"
    type="text/css"
    media="all"
  />

  {{ with .OutputFormats.Get "rss" -}} {{ printf `
  <link rel="%s" type="%s" href="%s" title="%s" />
  ` .Rel .MediaType.Type .Permalink $.Site.Title | safeHTML }} {{ end -}}
</head>
